<div class="container">
  <div class="mat">
    <div class="full-line">
      <app-item title="full-line"></app-item>
    </div>
  </div>
  <div class="mat">
    <div class="mat-50-left">
      <app-item title="50-left"></app-item>
    </div>
    <div class="mat-50-right">
      <app-item title="50-right"></app-item>
    </div>
  </div>
  <div class="mat">
    <div class="mat-33-left">
      <app-item title="33-left"></app-item>
    </div>
    <div class="mat-33-left">
      <app-item title="33-left"></app-item>
    </div>
    <div class="mat-33-right">
      <app-item title="33-right"></app-item>
    </div>
  </div>
</div>
